.profiles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #F6F6F6;
  padding: 40px 50px;
}

.profile {
  background: #FFFFFF;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 15px;
  position: relative;
  width: 320px;

  &-driver {
    margin-bottom: 15px;
  }

  &__label {
    font-size: 13px;
    font-weight: 400;
    color: #7C7C7C;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
  }

  &__card {
    display: flex;
    align-items: flex-start;

    &-auto {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid #EBEBEB;
    }
  }

  &__info {
    display: flex;
    align-items: flex-start;
    width: 100%;

    &_title {
      font-size: 15px;
      font-weight: 500;
      color: #1A010C;
      margin-bottom: 5px;
    }

    &_phone {
      font-size: 15px;
      font-weight: 400;
      color: #7C7C7C;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &_numberCar {
      font-size: 15px;
      font-weight: 400;
      color: #7C7C7C;
      margin: 5px 0;
    }

    &_color {
      font-size: 13px;
      font-weight: 400;
      color: #7C7C7C;
    }

    &_price {
      font-size: 15px;
      font-weight: 600;
      color: #5FBC8A;
      margin-top: auto;
      margin-left: auto;
    }
  }

  &__avatar {
    margin-right: 15px;
    flex: 0 0 50px;
    height: 50px;
    max-width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &-loupe {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .3);
        opacity: 0;
        transition: all .3s ease-in-out;
      }
      &:hover {
        svg,
        &:before {
          opacity: 1;
        }
      }


      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .3s ease-in-out;
      }
    }

    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .profiles {
    padding: 25px 35px;
  }
}

@media only screen and (max-width: 767px) {
  .profiles {
    position: static;
    padding: 15px;
  }
  .profile {
    width: 100%;
  }
}
