.lds-dual-ring {
  display: block;
  width: 40px;
  height: 40px;
  margin: auto;
  &:after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 4px solid #58B683;
    border-color: #58B683 transparent #58B683 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
