.statusTrip {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  color: #7c7c7c;
  text-transform: uppercase;
  background: #ECECEC;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 575px) {
  .statusTrip {
    margin-bottom: 15px;
  }
}
